.logo {
  float: left;
}
#name {
  padding: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
}

#username {
  padding: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
}
#email {
  padding: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
}
#password {
  padding: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
}

h1 {
  float: left;
  font-family: Montserrat;
  color: #f0e7d8;
  background: firebrick;
}

input[type="textarea"] {
  font-family: Montserrat;
  color: #928380;
}

.SubmitAccountButton {
  font-family: Montserrat;
  background-color: firebrick;
  color: white;
  font-size: 20px;
  width: 20%;
}
