.likedposts {
  border-top: 1px solid black;

  font-family: Montserrat;
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.likedtitle {
  font-family: Montserrat;
  color: black;
  float: left;
  width: 50%;
}
.myrecipes {
  border-top: 1px solid black;
  font-family: Montserrat;
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  flex-direction: row;
  border-left: 1px solid black;
  width: 50%;
}

.myrecipestitle {
  font-family: Montserrat;
  color: black;
  float: right;
  width: 50%;
}
.newrecipebutton {
  background-color: firebrick;
  color: white;
  border: none;
  width: 200px;
  font-family: Montserrat;
  padding-top: 20px;
}

#header {
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Montserrat;
  color: #ab9b96;
}

.each_card {
  font-family: Gaegu;
}

#mycookbook {
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  padding-top: 10px;
}
