.Navbar {
  background-color: firebrick;
}

.search__component {
  width: 300px;
  position: relative;
  font-family: Montserrat;
}
.NavbarTitle h3 {
  color: white;
  font-family: Montserrat;
  /* font-size: 50px; */
}
.search__dropdown {
  position: absolute;
  top: 53px;
  z-index: 20;
  background-color: white;
  width: 100%;
}

.welcome {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 0px;
  font-family: Montserrat;
}

.welcomeText {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-family: Montserrat;
}
.my-page {
  font-family: Montserrat;
}

.welcome {
  margin-right: 20px;
}
.LoginButton {
  background-color: firebrick;
  color: white;
  border: none;
  width: 100%;
  font-family: Montserrat;
}
.signupButton {
  background-color: firebrick;
  color: white;
  border: none;
  width: 100%;
  font-family: Montserrat;
}
